@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h2>I don't know what to write here...</h2><br/><br /><br />
    <h2>Follow my social nets!</h2>
    <div style="display:inline-block">
        <a href="https://vk.com/sanchpet_hs">
            <img src="~/vk.png" alt="VK" style="height:10vw; width:10vw;">
        </a>
        <a href="https://www.youtube.com/c/SanchPet">
            <img src="~/yt.png" alt="YT" style="height:10vw; width:10vw;">
        </a>
        <a href="https://www.twitch.tv/sanchpet">
            <img src="~/twtich.png" alt="Twitch" style="height:10vw; width:10vw;">
        </a>
    </div>
</body>
</html>
