@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Vigenere Decrypter!</h1>
        <h2>What you can do here:</h2>
        <h3>-Decrypt files</h3>
        <h3>-Encrypt files</h3>
        <h3>Use the toolbar to navigate my web-application</h3>
        <p>Learn about <a href="https://github.com/SanchPet">other developer's projects</a>.</p>
    </div>
