@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>
    <h1>Privacy</h1>
    <h3>I did not defend any rights. I did not buy any licenses.</h3>
    <h3>If you are the copyright holder, please don’t sue me, I haven’t really managed to earn anything yet!</h3>
    <img src="~/gosling.jpeg" alt="Gosling">
</body>
</html>
