@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SThanks</title>
</head>
<body>
    <h1>I want to say special thanks to Alexander Sergeyevich Isaev. It was thanks to his teaching that this application appeared. I've never been so interested in programming, and I finally realized what I wanted to practice. If you are reading this, thank you very much for these courses! These were the most fascinating 3 months in ITMO so far! I hope that we do not say goodbye.</h1>
</body>
</html>
