@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        p.dline {
            line-height: 1.5;
        }

        P {
            line-height: 0.9em;
        }
    </style>
</head>
<body>
    <h4>Спасибо IC3PEAK & Хаски за вдохновение во время работы над этим приложением.</h4>
    <text style="font-size:40px;">"Весело и грустно"</text>
    <text style="font-size:20px;">IC3PEAK feat. Хаски   (парт Хаски)</text><br /><br />
    <div>
        <div style="display: inline-block">
            <text class="dline" style="font-size:25px;">Дай мне верного товарища, рукастого кента,</text><br /><br />
            <text style="font-size:25px;">И окоп, будто влагалище усатого кита,</text><br /><br />
            <text style="font-size:25px;">Сапёрную лопатку, что меня не подведёт.</text><br /><br />
            <text style="font-size:25px;">Подари мне человека, который меня убьёт.</text><br /><br />
        </div>
        <div style="width: 10vw;
            height: 20em;
            display: flex;
            align-self: flex-end;
            margin-right: 5vw;
            width: 35%;
            padding: 1%;
            float: right">
            <img src="~/husky1.jpeg" alt="Husky">
        </div>
    </div>
    <div style="display: inline-block">
        <div style="width: 11vw;
            height: 20em;
            display: flex;
            align-self: flex-start;
            width: 36%;
            padding: 1%;
            float: left">
            <img src="~/husky2.jpeg" alt="Husky">
        </div>
        <div style="float:right; align-self: flex-end; width: 28vw; margin-left: 7vw;">
            <text class="dline" style="font-size:25px;">Редкое блаженство ехать с братом на броне.</text><br /><br />
            <text style="font-size:25px;">Снайперша застенчивая, прячется в окне,</text><br /><br />
            <text style="font-size: 25px;">И я так её люблю... Солнце плавит БТР...</text><br /><br />
            <text style="font-size:25px;">Мои братья лучше всех!</text><br /><br />
            <text style="font-size:25px;">Милый ангел, если сможешь, поцелуй меня в прицел!</text><br /><br />
        </div>
    </div>
    <div style="">
        <text style="font-size:25px">Послушать шедевр:           </text>
        <audio controls style="float:right; align-self: flex-end; width:40vw;">
            <source src="~/ic3peakHusky.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</body>
</html>
